.App {
  margin: auto;
  overflow-x: hidden;
  padding: 20px;
  text-align: center;
  margin-top: 2%;
  box-shadow: 0 10px 6px -6px #777;
  background: #fcfafa;
  color: #191414;
  font-family: sans-serif;
  width: 70%;
}

.item {
    font-size: 2.5rem;
    color: #352d2d;
    font-weight: 900;
}

.item.finished {
    text-decoration: line-through;
  }


  h1 {
      font-size: 4rem;
      color: #FF00FF;
  }


body {
    background: #ecf3f3;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow-x: hidden;
  }

.time {
  color: rgb(204, 200, 200);
}

.toDoItem {
  margin: 4%;
}